<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<title>Portal</title>
<link rel="stylesheet" href="css/general.css" type="text/css" />
</head>

<body>
<div id="all">
<div id="header"><div id="inner_header"></div></div>
<div id="top_menu"><div id="menu_item">Home</div></div>
<div id="container">
   <div id="left_col">
     <div id="mod">
       <div id="module_title">Main Menu</div>
        <div id="module_inner">
          <div id="menu_row"><a href="#">Home</a></div>
          <div id="menu_row"><a href="#">My Account</a></div>
          <div id="menu_row"><a href="#">Projects</a></div>
          <div id="menu_row"><a href="#">My Applications</a></div>
          <div id="menu_row"><a href="#">Create Ticket</a></div>
          <div id="menu_row"><a href="#">View Tickets</a></div>
        </div>
     </div>
     
     
      <div id="mod">
       <div id="module_title">Services</div>
        <div id="module_inner">
          <div id="menu_row"><a href="#">Bulks SMS</a></div>
        </div>
     </div>
      
     </div><!--end left_col-->
     
     <div id="comp_module"><div id="comp_module_top"><div id="comp_module_top_l"><div id="comp_module_r"><div id="comp_module_top_r"><div id="comp_bottom"><div id="comp_bottom_l"><div id="comp_bottom_r"><div id="comp_innercont">Adverts</div></div></div></div></div></div></div></div></div> 
     
     
    <div id="tabs_menu">
       
       <div id="active_tab"><div class="inner_left"><div class="inner_right"><div class="active_text">Home Active</div></div></div></div>
       
       <div id="inactive_tab"><div class="inner_left"><div class="inner_right"><div class="inactive_text">Other Inactive</div></div></div></div>
    
    </div>
     
  <!--list object-->
  <div class="listbox">
  <div id="list_controls"><div id="list_title">Title here</div><div id="max_button" title="Restore"></div><div id="min_button" title="Minimize"></div></div>
  
  <div id="title_bar"><div id="title_bar_inner_l"><div id="title_bar_inner_r"><div id="inner_cont" style="margin-left:8px;">
  <div class="cell"><div id="cell_inner">No.</div></div></div>
  </div></div></div>
  
   <div id="list_content">
    
    <div class="list_row"><div id="inner_cont"><div class="cell"><div id="cell_inner">1.</div></div></div></div>
    
   </div>
  
  </div>
  
     
  <!----end list object---->
     
   </div>
   
   </div>


<div id="footer"><div id="footer_labels">&copy;2012.Elligent Business Solutions.Client Support System</div>
</div>
</body>
</html>